<h2>Add a Flat detail</h2>
<br />
<form  *ngIf="addAllowed" (ngSubmit)="save(); flatForm.reset()" #flatForm="ngForm">

	<div>
		<label for="blockNumber">Block Number</label>
		<input
			type="text"
			id="blockNumber"
			required
			[(ngModel)]="model.block_number"
			name="blockNumber"
			#blockNumber="ngModel"
			placeholder="<block number here>">
			<div
				[hidden]="blockNumber.valid || blockNumber.pristine"
				class="alert alert-danger"
				>Block Number is required</div>
	</div>

	<div>
		<label for="flatNumber">Flat Number</label>
		<input
			type="text"
			id="flatNumber"
			required
			[(ngModel)]="model.flat_number"
			name="flatNumber"
			#flatNumber="ngModel"
			placeholder="<flat number here>">
			<div
				[hidden]="flatNumber.valid || flatNumber.pristine"
				class="alert alert-danger"
				>Flat Number is required</div>
	</div>

	<div>
		<button
			type="submit"
			class="btn btn-success"
			[disabled]="!flatForm.form.valid"
			[hidden]="hideSave"
			>Add</button>
	</div>

</form>

<hr />
<h2>List of Flats</h2>
<!--div *ngIf="addAllowed">
<button (click)="add()">Add</button>
</div-->

<table summary="Flat list">
	<caption>Flat list of XYZ Apartments</caption>
	<thead>
		<tr>
			<th title="Block Number" scope="col">Block No.</th>
			<th title="Flat Number" scope="col">Flat No.</th>
			<th title="Delete" scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" placeholder="<new block number here>" #bNum /></td>
			<td><input type="text" placeholder="<new flat number here>" #fNum/></td>
			<td>
				<button
					class="btn btn-link"
					(click)="addFlatFor(bNum, fNum)"
					title="Add record"
					>Add</button>
			</td>
		</tr>
		<tr *ngFor="let model of models | async">
			<th scope="row">{{ model.block_number }}</th>
			<td>{{ model.flat_number}}</td>
			<td>
				<button
					class="delete1 btn btn-link"
					(click)="delete(model); $event.stopPropagation()"
					title="Delete record"
					*ngIf="auth.allowsDelete(model.owner_id)"
				><i class="fa fa-trash" aria-hidden="true"></i></button>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th scope="row" colspan="2">Total Flats</th>
			<td colspan="1">{{totalFlats}}</td>
		</tr>
	</tfoot>
</table>
