<div *ngIf="model" class="container">
	<h2>{{title}}</h2>

	<form (ngSubmit)="save()" #detailForm="ngForm" class="grid-form">
		<fieldset>
			<legend>Edit</legend>
				<div data-row-span="1">
					<div data-field-span="1">
						<label for="userName">Username</label>
						<input
							type="text"
							id="userName"
							required
							[(ngModel)]="model.name"
							name="userName"
							#userName="ngModel"
							placeholder="<user name here>"
							title="Username for login purposes">
					</div>
					<div
						[hidden]="userName.valid || userName.pristine"
						class="alert alert-danger"
						>Username is required</div>
				</div>

			<div data-row-span="2">
				<div data-field-span="1">
					<label for="firstName">FirstName</label>
					<input
						type="text"
						id="firstName"
						required
						[(ngModel)]="model.first_name"
						name="firstName"
						#firstName="ngModel"
						placeholder="<first name here>"
						title="First Name of the user">
						<div
							[hidden]="firstName.valid || firstName.pristine"
							class="alert alert-danger"
							>First Name is required</div>
				</div>

				<div data-field-span="1">
					<label for="lastName">LastName</label>
					<input
						type="text"
						id="lastName"
						required
						[(ngModel)]="model.last_name"
						name="lastName"
						#lastName="ngModel"
						placeholder="<last name here>"
						title="Last Name of the user">
						<div
							[hidden]="lastName.valid || lastName.pristine"
							class="alert alert-danger"
							>Last Name is required</div>
				</div>
			</div>

			<div data-row-span="2">
				<div data-field-span="1">
					<label
						for="eMail"
						>email <i *ngIf="isSocial" class="text-warning">(Read-only)</i></label>
					<input
						type="email"
						id="eMail"
						[readonly]="isSocial"
						required
						[(ngModel)]="model.email"
						name="eMail"
						#eMail="ngModel"
						email
						placeholder="<email id here>"
						title="eMail of the user">
						<div
							[hidden]="eMail.valid || eMail.pristine"
							class="alert alert-danger"
							>eMail is required</div>
				</div>

				<div data-field-span="1">
					<label for="passWord">Password</label>
					<input
						type="password"
						id="passWord"
						[(ngModel)]="password"
						name="passWord"
						#passWord="ngModel"
						placeholder="<new password here>"
						title="Password of the user">
				</div>
			</div>

		</fieldset>

		<br />

		<button
			type="submit"
			class="btn btn-success"
			[disabled]="!detailForm.form.valid"
			[hidden]="!allowsEdit"
			title="Save changes made"
			><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>

		<button
			type="button"
			class="btn btn-link"
			(click)="goBack()"
			title="Cancel changes made"
			><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>

	</form>

</div>
