<h2>Users-to-Roles</h2>

<select size="5" [(ngModel)]="lId">
	<option 
		*ngFor="let lmodel of lstream | async" 
		value={{lmodel.id}}
		(click)="onlSelect(lmodel)"
	>{{lmodel.name}}</option>
	
</select>

<select size="5" multiple [(ngModel)]="aIds">
	<option *ngFor="let amodel of attachedStream | async" value={{amodel.id}}>{{amodel.name}}</option>
</select>

<button (click)="detach()" title="Detach Roles">>></button>
<button (click)="attach()" title="Attach Roles"><<</button>

<select size="5" multiple [(ngModel)]="dIds">
	<option *ngFor="let dmodel of detachedStream | async" value={{dmodel.id}}>{{dmodel.name}}</option>
</select>

<button (click)="save()" title="Save changes">Save</button>
<br>
---------------------------------------------------------------
<br>
selected_amodel_ids: {{aIds}}
<br>
selected_dmodel_ids: {{dIds}}