<h2>Account List</h2>
<button (click)="add(); accountName.value=''">Add</button>
<ul class="items">
	<li *ngFor="let account of accounts | async"
		[class.selected] = "isSelected(Account)"
		(click)="onSelect(account)">
		<span class="badge">{{account.id}}</span>
		<span>{{account.name}}</span>
		<button class="delete" (click)="delete(account); $event.stopPropagation()">x</button>
	</li>
</ul>
<!--div *ngIf="selectedAccount">
	<h2>{{ selectedAccount.name | uppercase }} is selected account</h2>
	<button (click)="gotoDetail()">View Details</button>
</div-->