<h2>Account List</h2>

From <input type="date" [ngModel]="fromDate | date: 'yyyy-MM-dd'" (ngModelChange)="fromDate = $event; getList()" />
To <input type="date" [ngModel]="toDate | date: 'yyyy-MM-dd'" (ngModelChange)="toDate = $event; getList()" />

<table class="table table-responsive">
	<thead>
		<tr>
			<th title="Transaction Date">Txn Date</th>
			<th title="Flat Number, if applicable">Flat#</th>
			<th title="Person who pays or receives">Name</th>
			<th title="Month, collected or expended amount belongs to">Month</th>
			<th title="Year, collected or expended amount belongs to">Year</th>
			<th title="Credit / Debit">Cr/Dr</th>
			<th title="Amount collected or expended">Amount</th>
			<th title="Balance Amount">Balance</th>
			<th title="Category of the transaction">Category</th>
			<th title="View/Edit/Delete">Actions
				<span *ngIf="addAllowed">
						<button class="btn btn-link" (click)="add()"><i class="fa fa-plus" aria-hidden="true"></i></button>
				</span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let model of models | async">
			<td>{{ model.recorded_at }}</td>
			<td>{{ model.flat_number }}</td>
			<td>{{ model.name }}</td>
			<td>{{ model.for_month }}</td>
			<td>{{ model.for_year }}</td>
			<td>{{ model.crdr }}</td>
			<td>{{ model.amount }}</td>
			<td>{{ model.balance }}</td>
			<td>{{ model.category }}</td>
			<td>
				<button
					class="view1 btn btn-link"
					(click)="onSelect(model)"
					title="View the details"
					*ngIf="auth.allowsView(model.owner_id)"
				><i class="fa fa-eye" aria-hidden="true"></i></button>
				<button
					class="delete1 btn btn-link"
					(click)="delete(model); $event.stopPropagation()"
					title="Delete this record"
					*ngIf="auth.allowsDelete(model.owner_id)"
				><i class="fa fa-trash" aria-hidden="true"></i></button>
			</td>
		</tr>
	</tbody>
</table>
