<h2>Account List</h2>

<div *ngIf="user.canAdd">
<button (click)="add()">Add</button>
</div>

<ul class="items">
	<li *ngFor="let model of models | async"
		[class.selected] = "isSelected(model)"
		(click)="onSelect(model)">
			<span class="badge1">{{model.id}}</span>
			<span>{{model.name}}</span>
			<span>{{model.owner_id}}</span>
			<button class="view1" (click)="onSelect(model)" *ngIf="auth.allowsView(model.owner_id)">View</button>
			<button class="delete1" (click)="delete(model); $event.stopPropagation()">x</button>
	</li>
</ul>
