<h2>Periodic Grid View</h2>

<div class="container">

  <div>
    <select
      id="forMonth"
      required
      [(ngModel)]="for_month"
      name="forMonth"
      #forMonth="ngModel"
      title="Periodic view for the month">
      <option
        *ngFor="let month of months"
        [value]="month.number"
       >{{month.shortName}}</option>
    </select>

    <input
      type="number"
      id="forYear"
      required
      [(ngModel)]="for_year"
      name="forYear"
      #forYear="ngModel"
      min="2010"
      max="2030"
      title="Periodic view for they year">
  </div>

  <ul class="items">
  	<li *ngFor="let model of models | async">
  			<span>{{ model.recorded_at }}</span>
  			<span class="badge1">{{ model.id }}</span>
  			<span>{{ model.flat_number }}</span>
  			<span>{{ model.name }}</span>
  	</li>
  </ul>


</div>
