<h2>Link Flats-to-Residents (Grid View)</h2>
<div class="flatsToResidents">

		<label class="llabel">Flats</label>
		<select class="lselect" size="20" [(ngModel)]="lId">
			<option
				*ngFor="let lmodel of lstream | async"
				value={{lmodel.id}}
				(click)="onlSelect(lmodel)"
			>{{lmodel.flat_number}}</option>
		</select>

		<label class="alabel">Attached Residents</label>
		<select class="aselect" size="20" multiple [(ngModel)]="aIds">
			<option
				*ngFor="let amodel of attachedStream | async"
				value={{amodel.id}}
			>{{amodel.first_name}}-{{amodel.last_name}}</option>
		</select>
		<button class="dbutton" (click)="detach()" title="Detach Residents">>></button>

		<label class="dlabel">Available Residents</label>
		<select class="dselect" size="20" multiple [(ngModel)]="dIds">
			<option *ngFor="let dmodel of detachedStream | async" value={{dmodel.id}}>{{dmodel.first_name}}-{{dmodel.last_name}}</option>
		</select>
		<button class="abutton"(click)="attach()" title="Attach Residents"><<</button>

		<button class="homeButton" (click)="goHome()" title="Save changes"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
</div>
