<h1>{{title}}</h1>
<nav>
	<a [routerLink]="['/home']">Home</a>

	<span>|</span>
	<a [routerLink]="['/about']">About</a>
	
	<span *ngIf="!jwt">|</span>
	<a [routerLink]="['/login']" *ngIf="!jwt">Login</a>
	
	<span *ngIf="!jwt">|</span>
	<a [routerLink]="['/signup']" *ngIf="!jwt">Signup</a>
	
	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/accounts']" *ngIf="jwt">Accounts</a>

	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/users']" *ngIf="jwt">Users</a>

	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/roles']" *ngIf="jwt">Roles</a>

	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/permissions']" *ngIf="jwt">Permissions</a>

	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/roles-permissions']" *ngIf="jwt">Roles-Permissions</a>

	<span *ngIf="jwt">|</span>
	<a [routerLink]="['/users-roles']" *ngIf="jwt">Users-Roles</a>

	<span *ngIf="jwt">|</span>
	<a (click)="logout()" *ngIf="jwt">Logout</a>

</nav>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	© 2017 eastgate.in
</footer>