<h1>{{title}}</h1>

<nav *ngIf="!authService.isLoggedIn"> <!-- Menu before logging in -->
	<a [routerLink]="['/home']">Home</a>
	<span>|</span>
	<a [routerLink]="['/about']">About</a>
	<span>|</span>
	<a [routerLink]="['/login']">Login</a>
	<span>|</span>
	<a [routerLink]="['/signup']">Signup</a>
</nav>

<nav *ngIf="authService.isLoggedIn"> <!-- Menu after logging in -->
	<a [routerLink]="['/home']">Home</a>
	<span>|</span>
	<a [routerLink]="['/about']">About</a>
	<span>|</span>
	<a [routerLink]="['/accounts']">Accounts</a>
	<span>|</span>
	<a [routerLink]="['/accounts-periodic']">Periodic</a>
	<span>|</span>
	<a [routerLink]="['/flats']">Flats</a>
	<span>|</span>
	<a [routerLink]="['/residents']">Residents</a>
	<span>|</span>
	<a [routerLink]="['/flats-residents']">Flats-Residents</a>
	<span>|</span>
	<a [routerLink]="['/users']">Users</a>
	<span>|</span>
	<a [routerLink]="['/roles']">Roles</a>
	<span>|</span>
	<a [routerLink]="['/permissions']">Permissions</a>
	<span>|</span>
	<a [routerLink]="['/roles-permissions']">Roles-Permissions</a>
	<span>|</span>
	<a [routerLink]="['/users-roles']">Users-Roles</a>
	<span>|</span>
	<a (click)="logout()">Logout</a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	© 2016-17 eastgate.in
</footer>
