<h2>Roles-to-Permissions</h2>

<div class="list-to-list">

		<label class="llabel">Roles</label>
		<select class="lselect" size="20" [(ngModel)]="lId">
			<option
				*ngFor="let lmodel of lstream | async"
				value={{lmodel.id}}
				(click)="onlSelect(lmodel)"
			>{{lmodel.name}}</option>
		</select>

		<label class="alabel">Granted Permissions</label>
		<select class="aselect" size="20" multiple [(ngModel)]="aIds">
			<option
				*ngFor="let amodel of attachedStream | async"
				value={{amodel.id}}
			>{{amodel.operations}} on {{amodel.resource}} with {{amodel.condition?'condition':'no condition'}}</option>
		</select>
		<button class="dbutton" (click)="detach()" title="Revoke Permissions">>></button>

		<label class="dlabel">Available Permissions</label>
		<select class="dselect" size="20" multiple [(ngModel)]="dIds">
			<option
				*ngFor="let dmodel of detachedStream | async"
				value={{dmodel.id}}
			>{{dmodel.operations}} on {{dmodel.resource}} with {{dmodel.condition?'condition':'no condition'}}</option>
		</select>
		<button class="abutton"(click)="attach()" title="Grant Permissions"><<</button>

		<button class="homeButton" (click)="goHome()" title="Return to Home page"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
</div>


<!--select size="5" [(ngModel)]="lId">
	<option
		*ngFor="let lmodel of lstream | async"
		value={{lmodel.id}}
		(click)="onlSelect(lmodel)"
	>{{lmodel.name}}</option>

</select>

<select size="5" multiple [(ngModel)]="aIds">
	<option
		*ngFor="let amodel of attachedStream | async"
		value={{amodel.id}}
	>{{amodel.operations}}-{{amodel.resource}}-{{amodel.condition?'Limited':'Unlimited'}}</option>
</select>

<button (click)="detach()" title="Detach Permissions">>></button>
<button (click)="attach()" title="Attach Permissions"><<</button>

<select size="5" multiple [(ngModel)]="dIds">
	<option *ngFor="let dmodel of detachedStream | async" value={{dmodel.id}}>{{dmodel.operations}}-{{dmodel.resource}}-{{dmodel.condition?'Limited':'Unlimited'}}</option>
</select>

<button (click)="save()" title="Save changes">Save</button>
<br-->
