<h2>Roles-to-Permissions</h2>

<select size="5">
	<option 
		*ngFor="let lmodel of lstream | async" 
		value={{lmodel.id}}
		(click)="onlSelect(lmodel)"
	>{{lmodel.name}}</option>
</select>

<select size="5" multiple [(ngModel)]="aIds">
	<option 
		*ngFor="let amodel of attachedStream | async" 
		value={{amodel.id}}
	>{{amodel.operations}}-{{amodel.resource}}-{{amodel-condition}}</option>
</select>

<button (click)="detach()" title="Detach Permissions">>></button>
<button (click)="attach()" title="Attach Permissions"><<</button>

<select size="5" multiple [(ngModel)]="dIds">
	<option *ngFor="let dmodel of detachedStream | async" value={{dmodel.id}}>{{dmodel.operations}}-{{dmodel.resource}}-{{dmodel-condition}}</option>
</select>
<button (click)="save()" title="Save changes">Save</button>

<br>
---------------------------------------------------------------
<br>
selected_amodel_ids: {{aIds}}
<br>
selected_dmodel_ids: {{dIds}}