<div class="container login center-block">
	<h1>Login</h1>
	<form role="form" #loginForm="ngForm" (submit)="login($event, email.value, password.value)">
		<div class="form-group">
			<label for="email">E-mail</label>
			<input type="text" class="form-control" id="email" placeholder="E-mail" value="user1@eastgate.in" #email>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" value="user1secret" #password>
		</div>
		<div class="form-group has-success">
			<button type="submit" class="btn btn-default">Submit</button>
			<button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
			<button type="button" class="btn btn-link" (click)="signup()">Click here to signup</button>
		</div>
		<message [message]="message"></message>
	</form>
	<!--facebook-login></facebook-login-->
	<social-login></social-login>
</div>
