<div class="container reset-password">

	<h1>Reset Password</h1>

	<form role="form" #resetForm="ngForm" (submit)="resetPassword($event, password.value)">
		<div class="form-group">
			<label for="password">Enter Password</label>
			<input type="password" class="form-control" id="password" placeholder="<enter password here>">
		</div>
		<div class="form-group">
			<label for="repeat-password">Repeat Password</label>
			<input type="password" class="form-control" id="repeat-password" placeholder="<repeat password here>">
		</div>
		<div class="form-group has-success">
			<button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
			<button type="button" class="btn btn-link" (click)="cancel()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
		</div>
	</form>

</div>
