<div class="container reset-password">

	<h1>Reset Password</h1>

	<form role="form" #resetForm="ngForm" (submit)="resetPassword($event, pass1.value, pass2.value)">
		<div class="form-group">
			<!--label for="password">Enter Password</label-->
			<input
				type="password"
				class="form-control"
				name="password1"
				placeholder="Enter password here"
				[(ngModel)]="pass1"
				#password1="ngModel"
				required>
				<div
					[hidden]="password1.valid || password1.pristine"
					class="alert alert-danger"
					>Password is required</div>
		</div>

		<div class="form-group">
			<!--label for="repeat-password">Repeat Password</label-->
			<input
				type="password"
				class="form-control"
				name="password2"
				placeholder="Repeat password here"
				[(ngModel)]="pass2"
				#password2="ngModel"
				required>
				<div
					[hidden]="password2.valid || password2.pristine"
					class="alert alert-danger"
					>Repeat Password is required</div>
		</div>

		<div class="form-group has-success">
			<button
				type="submit"
				class="btn btn-default"
				[disabled]="!resetForm.form.valid"
				><i class="fa fa-check" aria-hidden="true"></i> Submit</button>
			<button
				type="button"
				class="btn btn-link"
				(click)="cancel()"
				><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
		</div>
	</form>

</div>
